{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="#">
        <title>Project Portal{% if title %} | {{ title }} {% endif %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/cards.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
        {% endblock stylesheets %}
        {% block customStylesheets %}{% endblock customStylesheets %}
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% block ajaxBlock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        {% endblock ajaxBlock %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <style>
        .input-group-prepend .btn,
.input-group-append .btn {
    position: static;
    z-index: 2;
}
        .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 9px;
    padding: 0;
}
    </style>
    {% block mainBlock %}

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content" style="background: white;">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <div class="sidebar-brand-text mx-3" style="color: #022160; font-size: large; font-weight: bold"> <a href="/">UGAC PROJECT PORTAL</a></div>
                        <!-- Sidebar Toggle (Topbar) -->
                        {% comment %} <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button> {% endcomment %}
                        <!-- Topbar Search -->
                        <form method="POST" action="{{request.get_full_path}}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search by title and description" aria-label="Search" aria-describedby="basic-addon2" name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <!-- Nav Item - Alerts -->
                            <div class="notif-tooltip">
                                <span class="notif-tooltiptext" style="font-size:14px;">Create New Project</span>
                                <a class="nav-link" href="/project/new">
                                    <i class="fas fa-plus-square fa-sm fa-fw mr-2 text-gray-400" style="margin-top: 18px;"></i>
                                </a>
                            </div>
                            <div class="notif-tooltip">
                                <span class="notif-tooltiptext" style="font-size: 14px;">Home</span>
                                <a class="nav-link" href="{% url 'home' %}" role="button" style="margin-top: 11px;">
                                    <i class="fas fa-home fa-fw fa-sm mr-2 text-gray-400"></i>
                                    <!-- Counter - Alerts -->
                                </a>
                            </div>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle notif-tooltip" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 8px; width: 41.5px;">
                                    <span class="notif-tooltiptext" style="font-size: 14px;">Notifications</span>
                                    <i class="fas fa-bell fa-fw" style="margin-right: 8px;"></i>
                                    <!-- Counter - Alerts -->
                                    {% if notifications.count != 0 %}
                                    <span class="badge badge-danger badge-counter">
                                        {{notifications.count}}+
                                    </span> {% endif %}
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Notifications
                                    </h6>
                                    <div style="max-height:300px;overflow-y:scroll;">
                                        {% if notifications.count == 0 %}
                                        <a class="dropdown-item d-flex align-items-center">
                                            <div class="mr-3">
                                            </div>
                                            <div>
                                                <span class="font-weight-bold">No notifications yet!</span>
                                            </div>
                                        </a>
                                        {% endif %} {% for notification in notifications %}
                                        <a class="dropdown-item d-flex align-items-center" href="{{notification.url}}">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="font-weight-bold">{{notification.message}} at</span>
                                                <span class="font-weight-bold">{{notification.time}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <a class="dropdown-item text-center small text-gray-500" style="background: rgb(201, 216, 255);height:15px"></a>
                                </div>
                            </li>
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                                    <img class="img-profile rounded-circle" src="{{user.profile.image.url}}">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'profile' user.id %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                    </a>
                                    <a class="dropdown-item" href="/project/new"><i class="fas fa-plus-square fa-sm fa-fw mr-2 text-gray-400"></i>Create New
                                        Project</a>
                                    <a class="dropdown-item" href="/profile/projects/view/{{user.id}}?view=applied"><i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>Projects
                                        Applied for</a>
                                    <a class="dropdown-item" href="/profile/projects/view/{{user.id}}?view=floated"><i class="fas fa-laptop-code mr-2 fa-sm fa-fw text-gray-400"></i>Projects
                                        Floated by me</a>
                                    <a class="dropdown-item" href="/profile/projects/view/{{user.id}}?view=requested"><i class="fas fa-pager fa-fw mr-2 fa-sm fa-fw text-gray-400"></i>Projects
                                        Requested for</a>
                                    <a class="dropdown-item" href="/profile/projects/view/{{user.id}}?view=starred"><i class="fas fa-star fa-fw mr-2 fa-sm fa-fw text-gray-400"></i>Starred
                                        Projects</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block content %}{% endblock content %}
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        </div>
        </div>
         <div id="footer">
            <div class="footer_cards">
                <div class="footer_card">
                    <div class="footer_card_Title">
                        Contact us <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="footer_card_Details">
                        <b>Bhumanyu Goyal</b>
                        <br>
                        Academic Affairs Secretary, 2021-2022
                        <br>
                        Email: <a href="mailto:academic_secretary@students.iitmandi.ac.in" target="_blank">academic_secretary@students.iitmandi.ac.in</a>
                        <br>
                        Phone number: <b>+91 6377838426</b>
                    </div>
                </div>
                <div class="footer_card">
                    <div class="footer_card_Title">
                        Quick links
                    </div>
                    <div class="footer_card_Details">
                        <a href="">Home</a>
                        <br>
                        <a href="https://www.facebook.com/iitmandi.acadcouncil/" target="_blank">UGAC Facebook page</a>
                        <br>
                        <a href="https://www.instagram.com/iitmandi.acadcouncil/?hl=en" target="_blank">UGAC Instagram Page</a>
                        <br>
                        <a href="https://wiki.iitmandi.co.in/p/UG_Academic_Council" target="_blank">UGAC Wikipedia Page</a>
                    </div>
                </div>
                <div class="footer_card">
                    <div class="footer_card_Title">
                        UGAC <script>document.write(new Date().getFullYear())</script>
                    </div>
                    <div class="footer_card_Details">
                        THINK . COLLABORATE . INNOVATE
                        <br>
                        <br>
                        <a href="https://github.com/naveensaigit/project_portal/issues/new" target="_blank">Bugs/Suggestions</a> |
                        <a href="https://forms.gle/tci5sjB3mgpfvo6k8" target="_blank">Contribute</a>
                        <br><a href="/team" style="align-content: center;" target="_blank">Web Team, 2020-2024</a>
                    </div>
                    </div>
                </div>
            </div>
            <div id="CopyrightAndTeam">
                <div class="vertical-center">
                    <div class="copyright horizontal-center">
                        &copy; <script>document.write(new Date().getFullYear())</script> Copyright <a href="https://wiki.iitmandi.co.in/p/UG_Academic_Council" target="_blank">UGAC, IIT Mandi</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% endblock mainBlock %}
    {% block extraBlock %}{% endblock extraBlock %}
    {% block customScripts %}{% endblock customScripts %}

</html>
