{% extends 'home/base.html' %}
{% block content %}

{% load crispy_forms_tags %}
{% block cardBlock %}

<style>
    .vertical-line{
    width:10px;
    height:110px;
    background-color:#19258c;
    margin-left:20px;
    margin-right:30px;
}

.cards-hr{
    
height: 0px;
left: 87px;
top: 280px;

border: 1px solid rgba(0, 0, 0, 0.25);
}
</style>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4" style="padding: 0rem 1.25rem;" >
        <div class="card shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class = "vertical-line"></div>
                    <div class="col mr-2" >
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-3">
                            <a href="/profile/projects/applied">Projects Applied</a>
                        </div>
                        <div class="h3  font-weight-bold text-gray-800">{{ num_projects_applied }}</div>
                    </div>
                    <!-- <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" style="padding: 0rem 1.25rem;">
        <div class="card  shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class = "vertical-line"></div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-3">
                            <a href="/profile/projects/floated">Projects Floated</a>
                        </div>
                        <div class="h3  font-weight-bold text-gray-800">{{ num_projects_floated }}</div>
                    </div>
                    <!-- <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div> -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4" style="padding: 0rem 1.25rem;">
        <div class="card  shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class = "vertical-line"></div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-3">
                            <a href="/profile/projects/requested">Projects Requested</a>
                        </div>
                        <div class="h3  font-weight-bold text-gray-800">{{ num_projects_req }}</div>
                    </div>
                    <!-- <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div> -->
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4" style="padding: 0rem 1.25rem;">
        <div class="card  shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class = "vertical-line"></div>
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-3">
                            <a href="/profile/projects/starred">Projects Starred</a>
                        </div>
                        <div class="h3  font-weight-bold text-gray-800">{{ user.profile.starred_projects.count }}
                        </div>
                    </div>
                    <!-- <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="cards-hr">
{% endblock cardBlock %} 

{% block messageBlock %}
{% if messages %} {% for message in messages %}
<div class="card-header py-3">{{message}}</div>
{% endfor %} {% endif %}
{% endblock messageBlock %}

{% block mainContentBlock %}
<div class="project_cards">
  {% block headingBlock %}
  <h2 style="padding-top: 20px;">Projects :</h2>
  {% endblock headingBlock %}

  <br>

  <form method="get" class="form-inline justify-content-lg-center h5 mb-0 font-weight-bold text-gray-800 " style="width: 100%;">
<div class="" style="padding-right:23px;width: 263px;">


    <label for="id_Status" style= "font-size: 16px; font-weight: 300;float: left; ">Status</label>


      <select name="Status" id="id_Status" style="background-color:#EBEBEB; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px;width:242px; height:44px;">
  <option value="" selected=""></option>

  <option value="Open">Open</option>

  <option value="Ongoing">Ongoing</option>

  <option value="Completed">Completed</option>

</select>
</div>


<div class="" style="padding-right:23px; width: 263px;">


    <label for="id_Difficulty" style= "font-size: 16px; font-weight: 300;float: left; ">Difficulty</label>


      <select name="Difficulty" id="id_Difficulty" style="background-color:#EBEBEB; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px;width:242px; height:44px;">
  <option value="" selected=""></option>

  <option value="Beginner">Beginner</option>

  <option value="Intermediate">Intermediate</option>

  <option value="Hard">Hard</option>

</select>



</div>
<div class="" style="padding-right:23px;width: 263px;">


    <label for="id_Duration" style= "font-size: 16px; font-weight: 300; float: left;">Duration</label>


      <input type="text" name="Duration" id="id_Duration" style="background-color:#EBEBEB; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px;width:242px; height:44px;">





</div>
<div class="" style="padding-right:23px;width: 263px;">
    <label for="id_FloatedBy" style= "font-size: 16px; font-weight: 300;float: left; ">FloatedBy</label>


      <select name="FloatedBy" id="id_FloatedBy" style="background-color:#EBEBEB; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px; width:242px; height:44px;">
  <option value="" selected=""></option>

  <option value="1">lazyghost</option>

  <option value="2">tempuser1</option>

  <option value="3">tempuser2</option>

  <option value="4">tempuser3</option>

  <option value="5">rajat</option>

  <option value="6">test</option>

  <option value="7">b20286</option>

  <option value="8">tempuser123</option>


</select>
</div>


<div class="" style="padding-top: 25px;">




    <button class="btn btn-primary" type="Submit" style= "width: 95px; height: 33px; margin-left:0px; background: #19258C;
border-radius: 5px;">Filter</button>
</div>
  </form>



  {% block filterBlock %}
  <!-- Filter options -->
  <form method="get" class="form-inline justify-content-lg-center h5 mb-0 font-weight-bold text-gray-800 " style="width: 100%;">
    {{ myFilter.form }}
    <button class="btn btn-primary" type="Submit">Filter</button>
  </form>
  {% endblock filterBlock %}


    {% block allProjectsBlock %}
    <div style="display: flex; flex-wrap: wrap;">
        {% for project in projects %}
        <div class="blog-container" style="flex: 1 0 45%; margin: 30px; width: 600px; height: 289px;">
            <div class="blog-header" style="display: flex; flex-wrap: wrap;">
                <div class="blog-author--no-cover" style="background:url('{{project.FloatedBy.profile.image.url}}');background-size: cover; border-radius: 50%; display: inline-block;height: 40px;margin-right: 0.5rem;background-position: center;top: 8px;width: 40px; top: 27px; left: 28px; ">
                </div>
                <span style="flex: 1 0 45%; ">
          <h3 style="margin-top: 10px; color:#858796;"><a
              href="{% url 'profile' project.FloatedBy.id %}">{{project.FloatedBy}}</a></h3>
        </span>
            </div>
            <div class="blog-body">
                <div class="blog-title">
                    <h1><a href="/project/?project_id={{project.id}}">{{ project.Title }}</a></h1>
                </div>
                <div class="blog-summary demo-2">
                    <p>{{project.Description}}</p><br>
                </div>
                <div class="blog-tags">
                    <ul>
                        <li><a>{{project.Status}}</a></li>
                        <li><a>{{project.Difficulty}}</a></li>
                        {% if project.PreRequisite %}
                        <li><a>{{project.PreRequisite}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        <hr style="width: 300px; border-top: 1px solid rgba(0, 0, 0, 0.25); margin-left: 0px; ">
            <div class="blog-footer">
                <ul>
{#                    <li class="published-date"><a href="/project/?project_id={{project.id}}">Read More</a></li>#}
                    <li>
                        {% if project.id not in user_starred_projects_id %}
                        <a href="/project/task/?project_id={{project.id}}&task=Star&page_number={{projects.number}}"><button
                class="btn btn-primary btn-user btn-block" style="margin-left: 450px; width: 45px;"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg></button></a> {% else %}
                        <a href="/project/task/?project_id={{project.id}}&task=Unstar&page_number={{projects.number}}"><button
                class="btn btn-primary btn-user btn-block" style="margin-left: 450px; width: 45px;"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg></button></a> {% endif %}
                    </li>

                </ul>
                <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin: 15px; ">
                </div>
            </div>
        </div>
        {% endfor %}
        {% if projects.count == 0 %}
            <div>No projects</div>
        {% endif %}
      </div>
      {% endblock allProjectsBlock %}

    {% block paginationBlock %}
    {% with request.get_full_path as querystring %} {% if projects.has_other_pages %}
    <ul class="pagination">
        {% if projects.has_previous %} {% if 'Status' in querystring %} {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:" :-1 " }}{{ projects.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ projects.previous_page_number }}">&laquo;</a></li>
        {% endif %} {% else %}
        <li><a href="/?page={{ projects.previous_page_number }}">&laquo;</a></li>
        {% endif %} {% endif %} {% for i in projects.paginator.page_range %} {% if projects.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %} {% if 'Status' in querystring %} {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:" :-1 " }}{{ i }}">{{i}}</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ i }}">{{i}}</a></li>
        {% endif %} {% else %}
        <li><a href="/?page={{ i }}">{{i}}</a></li>
        {% endif %} {% endif %} {% endfor %} {% if projects.has_next %} {% if 'Status' in querystring %} {% if 'page' in querystring %}
        <li><a href="{{ querystring|slice:" :-1 " }}{{ projects.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li><a href="{{ querystring }}&page={{ projects.next_page_number }}">&raquo;</a></li>
        {% endif %} {% else %}
        <li><a href="/?page={{ projects.next_page_number }}">&raquo;</a></li>
        {% endif %} {% endif %}
    </ul>
    {% endif %} {% endwith %}
    {% endblock paginationBlock %}
{% endblock mainContentBlock %}
{% block extraBlock %}{% endblock extraBlock %}

{% endblock content %}
