{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
{% endblock stylesheets %}
{% block customStylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/projectsRegister.css' %}">
{% endblock customStylesheets %}
{% block content %}
{% block messageBlock %}
{% if messages %} {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{message}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %} {% endif %}
{% endblock messageBlock %}
<div class="card" style="width:75%">
	<br>
	<br>
	<div style="width:80%;">
		<div class=" py-3 ">
			<h2 style="color: #022160; text-align: center; margin-left: 18%; font-family: Public Sans; font-style: normal;"><b>Create New Project</b></h2>
		</div>
		<br>
		<div style="color: #19258C; font-family: Public Sans; font-style: normal; justify-content: center;">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="fieldWrapper">
					{{ project_form.Title.errors }}
					{{ project_form.Title.label_tag }}
					{{ project_form.Title }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Image.errors }}
					{{ project_form.Image.label_tag }}
					{{ project_form.Image }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Description.errors }}
					{{ project_form.Description.label_tag }}
					<br>
					{{ project_form.Description }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Mentors.errors }}
					{{ project_form.Mentors.label_tag }}
					{{ project_form.Mentors }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Status.errors }}
					{{ project_form.Status.label_tag }}
					{{ project_form.Status }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.OpenedFor.errors }}
					{{ project_form.OpenedFor.label_tag }}
					<div id="id_OpenedFor">
						<ul>
							<li>
								<div class="vertical-center">
									<input class="treeInput" type="checkbox" name="OpenedFor" value="All" id="id_OpenedFor_0">
									<div class="collapsable">
										<text>All</text>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</div>
								</div>
								<ul>
									<li>
										<div class="vertical-center">
											<input class="treeInput" type="checkbox"></input>
											<div class="collapsable">
												<text>CSE</text>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</div>
										</div>
										<ul>
											<li>
												<label for="id_OpenedFor_1_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 1st Year" id="id_OpenedFor_1_0" />1st Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_1_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 2nd Year" id="id_OpenedFor_1_1" />2nd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_1_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 3rd Year" id="id_OpenedFor_1_2" />3rd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_1_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 4th Year" id="id_OpenedFor_1_3" />4th Year</label>
											</li>
										</ul>
									</li>
									<li>
										<div class="vertical-center">
											<input class="treeInput" type="checkbox"></input>
											<div class="collapsable">
												<text>DSE</text>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</div>
										</div>
										<ul>
											<li>
												<label for="id_OpenedFor_2_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 1st Year" id="id_OpenedFor_2_0" />1st Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_2_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 2nd Year" id="id_OpenedFor_2_1" />2nd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_2_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 3rd Year" id="id_OpenedFor_2_2" />3rd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_2_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 4th Year" id="id_OpenedFor_2_3" />4th Year</label>
											</li>
										</ul>
									</li>
									<li>
										<div class="vertical-center">
											<input class="treeInput" type="checkbox"></input>
											<div class="collapsable">
												<text>CE</text>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</div>
										</div>
										<ul>
											<li>
												<label for="id_OpenedFor_3_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 1st Year" id="id_OpenedFor_3_0" />1st Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_3_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 2nd Year" id="id_OpenedFor_3_1" />2nd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_3_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 3rd Year" id="id_OpenedFor_3_2" />3rd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_3_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 4th Year" id="id_OpenedFor_3_3" />4th Year</label>
											</li>
										</ul>
									</li>
									<li>
										<div class="vertical-center">
											<input class="treeInput" type="checkbox"></input>
											<div class="collapsable">
												<text>BioE</text>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</div>
										</div>
										<ul>
											<li>
												<label for="id_OpenedFor_4_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 1st Year" id="id_OpenedFor_4_0" />1st Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_4_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 2nd Year" id="id_OpenedFor_4_1" />2nd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_4_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 3rd Year" id="id_OpenedFor_4_2" />3rd Year</label>
											</li>
											<li>
												<label for="id_OpenedFor_4_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 4th Year" id="id_OpenedFor_4_3" />4th Year</label>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="fieldWrapper">
					{{ project_form.Difficulty.errors }}
					{{ project_form.Difficulty.label_tag }}
					{{ project_form.Difficulty }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.PreRequisite.errors }}
					{{ project_form.PreRequisite.label_tag }}
					<br>
					{{ project_form.PreRequisite }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Tags.errors }}
					{{ project_form.Tags.label_tag }}
					{{ project_form.Tags }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Duration.errors }}
					{{ project_form.Duration.label_tag }}
					{{ project_form.Duration }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.SelectionCriteria.errors }}
					{{ project_form.SelectionCriteria.label_tag }}
					<br>
					{{ project_form.SelectionCriteria }}
				</div>
				<div class="fieldWrapper">
					{{ project_form.Question.errors }}
					{{ project_form.Question.label_tag }}
					<br>
					{{ project_form.Question }}
				</div>
				{% comment %} <fieldset style="color: #19258C; width: 100%;">
					{{ project_form|crispy }}
				</fieldset> {% endcomment %}
				<div>
					<button class="btn btn-primary btn-user btn-block" type="submit" style="background: #022160; color: white; margin-left: 2%; width: 120%;">Create</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock content %}
{% block customScripts %}
<script src="{% static 'home/projects.js' %}"></script>
{% endblock customScripts %}