{% extends 'home/base.html' %}
{% block content %}
    {% if messages %} 
        {% for message in messages %}
            <div class="card-header py-3" >{{message}}</div>
        {% endfor %}
    {% endif %}
    {% if project.FloatedBy == user %}
    <br>
    <a href="{% url 'update-project' project.id %}" ><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">UPDATE PROJECT</button></a><br>
    <a href="{% url 'delete-project' project.id %}" ><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">DELETE PROJECT</button></a>
    {% endif %}
<br>

<div class="card shadow mb-4">
        <div class="card-header py-3" >
           <h3>Project - {{ project.Title }}</h3>
        </div>
        <div class="card-body" >
        Description -: {{ project.Description }}
        <br>
        Floated By -: {{ project.FloatedBy }}
        <br>
        Status -: {{ project.Status }}
        <br>
        Difficulty -: {{ project.Difficulty }}
        <br>
        Date Posted -: {{ project.DatePosted }}
        <br>
        Duration -: {{ project.Duration }}
        <br>
        Mentors -:
        {% for users in project.Mentors.all %}
            {{ users }}
        {% endfor %}
        {% if project.Mentors.all.count == 0 %}
            No one
		{% endif %}
        <br>
        Selection Criteria -: {{ project.SelectionCriteria }}
        <br>
        Opened for -: {{project.OpenedFor}}
        <br>
        Pre requisites -: {{ project.PreRequisite }}
            {% if project.FloatedBy == user %}
    <div>
        Already Applied -:
        {% for users in project.AlreadyApplied.all %}
            {{ users }}
        {% endfor %}
        {% if project.AlreadyApplied.all.count == 0 %}
            No one
		{% endif %}
    </div>

        </div>
</div>


<div class="card shadow mb-4">
        <div class="card-header py-3">
           <h3>Project Apply Requests:</h3>
        </div>
        <div class="card-body" >
       {% for request_user in apply_requests %}
            <div>
                {{request_user}} -
                <a href="{% url 'accept-project' project.id request_user %}"><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">ACCEPT</button></a>
                <a href="{% url 'reject-project' project.id request_user %}"><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">REJECT</button></a>
            </div>
		{% endfor %}
		{% if apply_requests.count == 0 %}
            <div> No requests </div>
		{% endif %}

        </div>
</div>


    {% endif %}
{% endblock content %}
