{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
{% endblock stylesheets %}
{% block customStylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/projectsRegister.css' %}">
{% endblock customStylesheets %}
{% block content %}
{% block messageBlock %}
{% if messages %} {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{message}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %} {% endif %}
{% endblock messageBlock %}
<style>
    .container-fluid{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
</style>

<div class="card" style="width:75%">
	<br>
	<br>
	<div class = "row">
		<div class="col-md-12 py-3 ">
			<h2 style="color: #022160; text-align: center; font-family: Public Sans; font-style: normal;"><b>Create New Project</b></h2>
		</div>
		<br>
		<div class = "col-md-12 py-3" style="color: #19258C; font-family: Public Sans; font-style: normal; justify-content: center;">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Title.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Title.field.required %}*{% endif %}{{ project_form.Title.label_tag }}
					</div>
					{{ project_form.Title }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Image.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Image.field.required %}*{% endif %}{{ project_form.Image.label_tag }}
					</div>
					{{ project_form.Image }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Desription.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Description.field.required %}*{% endif %}{{ project_form.Description.label_tag }}
					</div>
					{{ project_form.Description }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Mentors.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Mentors.field.required %}*{% endif %}{{ project_form.Mentors.label_tag }}
					</div>
					{{ project_form.Mentors }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Status.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Status.field.required %}*{% endif %}{{ project_form.Status.label_tag }}
					</div>
					{{ project_form.Status }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.OpenedFor.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.OpenedFor.field.required %}*{% endif %}{{ project_form.OpenedFor.label_tag }}
					</div>
					<div id="id_OpenedFor">
						<ul>
							<li>
								<div class="vertical-center">
									<input class="treeInput" type="checkbox" name="OpenedFor" value="All" id="id_OpenedFor_0">
									<div class="collapsable">
										<text>All</text>
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</div>
								</div>
								<ul>
									<li>
										<label for="id_OpenedFor_1_0_0_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="Faculty" id="id_OpenedFor_1_0_0_0" />Faculty</label>
									</li>
									<li>
										<label for="id_OpenedFor_2_0_0_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="Staff" id="id_OpenedFor_2_0_0_0" />Staff</label>
									</li>
									<li>
										<div class="vertical-center">
											<input class="treeInput" type="checkbox"></input>
											<div class="collapsable">
												<text>Students</text>
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											</div>
										</div>
										<ul>
											<li>
												<div class="vertical-center">
													<input class="treeInput" type="checkbox"></input>
													<div class="collapsable">
														<text>B.Tech</text>
														<i class="fa fa-angle-right" aria-hidden="true"></i>
													</div>
												</div>
												<ul>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>CSE</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_1_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 1st Year" id="id_OpenedFor_3_1_1_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_1_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 2nd Year" id="id_OpenedFor_3_1_1_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_1_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 3rd Year" id="id_OpenedFor_3_1_1_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_1_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="CSE 4th Year" id="id_OpenedFor_3_1_1_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>DSE</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_2_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 1st Year" id="id_OpenedFor_3_1_2_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_2_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 2nd Year" id="id_OpenedFor_3_1_2_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_2_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 3rd Year" id="id_OpenedFor_3_1_2_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_2_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="DSE 4th Year" id="id_OpenedFor_3_1_2_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>CE</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_3_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 1st Year" id="id_OpenedFor_3_1_3_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_3_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 2nd Year" id="id_OpenedFor_3_1_3_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_3_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 3rd Year" id="id_OpenedFor_3_1_3_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_3_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="CE 4th Year" id="id_OpenedFor_3_1_3_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>BioE</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_4_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 1st Year" id="id_OpenedFor_3_1_4_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_4_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 2nd Year" id="id_OpenedFor_3_1_4_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_4_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 3rd Year" id="id_OpenedFor_3_1_4_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_4_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="BioE 4th Year" id="id_OpenedFor_3_1_4_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>ME</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_5_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="ME 1st Year" id="id_OpenedFor_3_1_5_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_5_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="ME 2nd Year" id="id_OpenedFor_3_1_5_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_5_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="ME 3rd Year" id="id_OpenedFor_3_1_5_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_5_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="ME 4th Year" id="id_OpenedFor_3_1_5_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>EP</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_6_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="EP 1st Year" id="id_OpenedFor_3_1_6_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_6_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="EP 2nd Year" id="id_OpenedFor_3_1_6_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_6_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="EP 3rd Year" id="id_OpenedFor_3_1_6_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_6_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="EP 4th Year" id="id_OpenedFor_3_1_6_4" />4th Year</label>
															</li>
														</ul>
													</li>
													<li>
														<div class="vertical-center">
															<input class="treeInput" type="checkbox"></input>
															<div class="collapsable">
																<text>EE</text>
																<i class="fa fa-angle-right" aria-hidden="true"></i>
															</div>
														</div>
														<ul>
															<li>
																<label for="id_OpenedFor_3_1_7_1"><input class="treeInput" type="checkbox" name="OpenedFor" value="EE 1st Year" id="id_OpenedFor_3_1_7_1" />1st Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_7_2"><input class="treeInput" type="checkbox" name="OpenedFor" value="EE 2nd Year" id="id_OpenedFor_3_1_7_2" />2nd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_7_3"><input class="treeInput" type="checkbox" name="OpenedFor" value="EE 3rd Year" id="id_OpenedFor_3_1_7_3" />3rd Year</label>
															</li>
															<li>
																<label for="id_OpenedFor_3_1_7_4"><input class="treeInput" type="checkbox" name="OpenedFor" value="EE 4th Year" id="id_OpenedFor_3_1_7_4" />4th Year</label>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<label for="id_OpenedFor_3_2_0_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="PHD" id="id_OpenedFor_3_2_0_0" />PHD</label>
											</li>
											<li>
												<label for="id_OpenedFor_3_3_0_0"><input class="treeInput" type="checkbox" name="OpenedFor" value="M.Tech" id="id_OpenedFor_3_3_0_0" />M.Tech</label>
											</li>
										</ul>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Difficulty.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Difficulty.field.required %}*{% endif %}
						{{ project_form.Difficulty.label_tag }}
					</div>
					{{ project_form.Difficulty }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.DesiredQualifications.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.DesiredQualifications.field.required %}*{% endif %}
						{{ project_form.DesiredQualifications.label_tag }}
					</div>
					{{ project_form.DesiredQualifications }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Tags.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Tags.field.required %}*{% endif %}
						{{ project_form.Tags.label_tag }}
					</div>
					{{ project_form.Tags.help_text }}
					<br>
					{{ project_form.Tags }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Duration.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Duration.field.required %}*{% endif %}
						{{ project_form.Duration.label_tag }}
					</div>
					{{ project_form.Duration }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.SelectionCriteria.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.SelectionCriteria.field.required %}*{% endif %}
						{{ project_form.SelectionCriteria.label_tag }}
					</div>
					{{ project_form.SelectionCriteria }}
				</div>
				<br>
				<div class="fieldWrapper">
					<div style="color:red;">
						{{ project_form.Question.errors }}
					</div>
					<div style="display:flex;">
						{% if project_form.Question.field.required %}*{% endif %}
						{{ project_form.Question.label_tag }}
					</div>
					{{ project_form.Question.help_text }}
					<br>
					{{ project_form.Question }}
				</div>
				<br>
				{% comment %} <fieldset style="color: #19258C; width: 100%;">
					{{ project_form|crispy }}
				</fieldset> {% endcomment %}
				<div>
					<button class="btn btn-primary btn-user btn-block" type="submit" style="background: #022160; color: white;">Create</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock content %}
{% block customScripts %}
<script src="{% static 'home/projects.js' %}"></script>
{% endblock customScripts %}