{% extends 'home/base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock stylesheets %}

{% block customStylesheets %}
	{{ project_form.media.css }}
	<link rel="stylesheet" type="text/css" href="{% static 'home/projectsRegister.css' %}">
{% endblock customStylesheets %}

{% block content %}
{% block messageBlock %}
{% if messages %} {% for message in messages %}
<div class="card-header py-3" id="message">{{message}}</div>
{% endfor %} {% endif %}
{% endblock messageBlock %}
<div class="card" style="width:75%">
	<br>
	<br>
	<div style="width:80%;">
		<div class=" py-3 ">
			<h2>Create New Project</h2>
		</div>
		<div>
			<form method="POST">
				{% csrf_token %}
				<fieldset>
					{{ project_form|crispy }}
				</fieldset>
				<div>
					<button class="btn btn-success btn-icon-split " type="submit ">
						<span class="icon text-white-50 ">
							<i class="fas fa-check "></i>
						</span>
						<span class="text ">Create</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock content %}

{% block customScripts %}
	{% comment %} <script src="{% static 'home/projects.js' %}"></script> {% endcomment %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ project_form.media.js }}
{% endblock customScripts %}