{% extends 'home/base.html' %}
{% block content %}
    {% if messages %} 
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}
    {% if project.FloatedBy == user %}
    <a href="{% url 'update-project' project.id %}"> UPDATE PROJECT </a> 
    <br>
    <a href="{% url 'delete-project' project.id %}"> DELETE PROJECT </a> 
    {% endif %}
    <div>
        <h3>
            Project - {{ project.Title }}
        </h3>
        Description -: {{ project.Description }}
        <br>
        Floated By -: {{ project.FloatedBy }} 
        <br>
        Status -: {{ project.Status }} 
        <br>
        Difficulty -: {{ project.Difficulty }} 
        <br>
        Date Posted -: {{ project.DatePosted }} 
        <br>
        Duration -: {{ project.Duration }} 
        <br>
        Mentors -: {{ project.Mentors }} 
        <br>
        Selection Criteria -: {{ project.SelectionCriteria }} 
        <br>
        Already Applied -: {{ project.AlreadyApplied }} 
        <br>
        Opened for -: {{ project.OpenedFor }} 
        <br>
        Pre requisites -: {{ project.PreRequisite }} 
    </div>
{% endblock content %}
