{% extends 'home/base.html' %}
{% load static %}
{% block customStylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/project.css' %}">
{% endblock customStylesheets %}
{% block content %}
{% block messageBlock %} {% if messages %} {% for message in messages %}
<div class="card-header py-3">{{message}}</div>
{% endfor %} {% endif %} {% endblock messageBlock %}
{% comment %} {% if project.FloatedBy == user %}
<a href="/project/delete/?project_id={{project.id}}" class="btn btn-danger btn-circle">
  <i class="fas fa-trash" style="color:white;"></i>
</a>
<a href="/project/update/?project_id={{project.id}}"><button class="btn btn-primary btn-user btn-block" style="display: inline-block;">UPDATE PROJECT</button></a>
{% endif %} {% endcomment %}
<!-- <h3 style="margin-top: 10px; color:#858796; margin-left:0px;"><a href="{% url 'profile' project.FloatedBy.id %}">{{project.FloatedBy}}</a></h3> -->
<div id="projectTop">
  <div id="projectTitle" class="vertical-center">{{ project.Title }}</div>
</div>
<div id="projectMain" class="horizontal-center">
  <div class="left-container">
    <div id="tagsContainer" class="vertical-center">
      <div class="tagsTitle">Tags:</div>
      <div class="tag vertical-center">
        <div class="horizontal-center">
          HTML
        </div>
      </div>
      <div class="tag vertical-center">
        <div class="horizontal-center">
          CSS
        </div>
      </div>
      <div class="tag vertical-center">
        <div class="horizontal-center">
          JAVASCRIPT
        </div>
      </div>
    </div>
    <div id="buttons">
      <div class="seperator"></div>
      <div class="buttonContent buttonSelected vertical-center">
        <div class="horizontal-center">
          Description
        </div>
      </div>
      <div class="seperator"></div>
      <div class="buttonContent vertical-center">
        <div class="horizontal-center">
          Pre-requisite
        </div>
      </div>
      <div class="seperator"></div>
      <div class="buttonContent vertical-center">
        <div class="horizontal-center">
          Selection Criteria
        </div>
      </div>
      <div class="seperator"></div>
    </div>

    <div id="projectDescription">
      <div id="prodes" class="">
        {{ project.Description }}
      </div>
      <div id="proprereq" class="invisible">
        {{ project.PreRequisite }}
      </div>
      <div id="proselcrit" class="invisible">
        {{ project.SelectionCriteria }}
      </div>
    </div>

    {% if project.id not in projects_id.0 and project.id not in projects_id.2 %}
    <div id="applyNow">
      <a href="/project/task/?task=Apply&project_id={{project.id}}" class="applyText vertical-center">
        <div class="horizontal-center">
          Apply Now
        </div>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="right-container">
    <div id="projectDetails">
      <div class="detail">
        <div class="detailTitle">
          Floated By :
        </div>
        <div class="detailContent">
          {{project.FloatedBy}} <a href="{% url 'profile' project.FloatedBy.id %}"><i class="fa fa-external-link"></i></a>
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          Mentors:
        </div>
        <div class="detailContent">
          {% for users in project.Mentors.all %} {{ users }} {% endfor %}
          {% if project.Mentors.all.count == 0 %} No one {% endif %}
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          Status:
        </div>
        <div class="detailContent">
          {{ project.Status }}
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          Duration:
        </div>
        <div class="detailContent">
          {{ project.Duration }}
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          Opened for:
        </div>
        <div class="detailContent">
          {{project.OpenedFor}}
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          Difficulty:
        </div>
        <div class="detailContent">
          {{project.Difficulty}}
        </div>
      </div>
      <div class="detail">
        <div class="detailTitle">
          DateFloated:
        </div>
        <div class="detailContent">
          {{ project.DatePosted }}
        </div>
      </div>
    </div>
    <div id="alreadyApplied">
      <div id="alreadyAppliedTitle" class="vertical-center">Already Applied:</div>
      <div id="alreadyAppliedUsers" class="vertical-center">
        {% for users in project.AlreadyApplied.all %}
        <div class="user"><a href="{% url 'profile' users.profile.id %}"><img src="{{users.profile.image.url}}" title="{{users}}"></a></div>
        {% endfor %}
        {% if project.AlreadyApplied.all.count == 0 %} No selections yet {% endif %}
      </div>
    </div>
  </div>
</div>
{% comment %}
{% if project.id in projects_id.3 %}
<a href="/project/task/?task=Withdraw&project_id={{project.id}}" class="btn btn-light btn-icon-split">
  <span class="icon text-gray-600">
    <i class="fas fa-times"></i>
  </span>
  <span class="text" style="color:black;">Withdraw Request</span>
</a>
<br>
{% else %}
<a href="/project/task/?task=Leave&project_id={{project.id}}" class="btn btn-danger btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-trash"></i>
  </span>
  <span class="text">Leave</span>
</a>
<br>
{% endif %}
<div class="">
</div>
<ul>
  <li> {% if project.id not in projects_id.4 %}
    <a href="/project/task/?task=Star&project_id={{project.id}}">
      <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
        </svg></button></a>
    {% else %}
    <a href="/project/task/?task=Unstar&project_id={{project.id}}">
      <button class="btn btn-primary btn-user btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg></button></a>
    {% endif %}
  </li>
</ul>
<br>
{% if project.FloatedBy == user %}
<h3>Project Apply Requests:</h3>
{% for request_user in project.ApplyRequest.all %}
<div>
  {{request_user}} -
  <a href="/project/accept/?project_id={{project.id}}&request_user={{request_user}}"><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">ACCEPT</button></a>
  <a href="/project/reject/?project_id={{project.id}}&request_user={{request_user}}"><button class="btn btn-primary btn-user btn-block" style="width: 30%; ">REJECT</button></a>
</div>
{% endfor %} {% if project.ApplyRequest.all.count == 0 %}
<div style="color:black; font-size:20px;"> No requests </div>
{% endif %}
{% endif %} {% endcomment %}
{% endblock content %}
{% block customScripts %}
<script src="{% static 'home/projects.js' %}"></script>
{% endblock customScripts %}