{% extends 'home/base.html' %}
{% block content %}
<div>
    {% if messages %}
    {% for message in messages %}
    <div>{{message}}</div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Project Delete</legend>
            Are you sure you want to delete Project- {{ project.Title }}.
        </fieldset>
        <div>
            <button type="submit">Delete</button>
            <a href="{% url 'project' project.id %}"> <button type='button'>Cancel</button> </a>
        </div>
    </form>
</div>
{% endblock content %}