{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/projectsRegister.css' %}"> 
{% endblock stylesheets %} 

{% block content %}
{% block projectUpdatePageBlock %}
<div >
	<br>
	<br>
		<div class="container card shadow-lg py-3" style="width:80%">

			{% block messageBlock %}
			{% if messages %}
			{% for message in messages %}
				<div class="card-header py-3" >{{message}}</div>
			{% endfor %}
			{% endif %}
			{% endblock messageBlock %}

			<br>
			<div class="card-header py-3" >
		      <h5 class="m-0 font-weight-bold text-primary text-center">UPDATE PROJECT</h5>
		  </div>
			<br>
		<div class="card-body">
			<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>Project - {{ project_title }}</legend>
				{{ project_form|crispy }}
			</fieldset>
			<div>
				<button class="btn btn-primary btn-user btn-block" type="submit">Update</button>
			</div>
		</form>
		</div>
		</div>
	<br>
	<br>
</div>
<script>
	var mentor = document.getElementById("id_Mentors");  // Get the <a> element with id="mymentor"
	var att = document.createAttribute("multiple");        // Create a "href" attribute
	att.value = "multiple";            // Set the value of the href attribute
	mentor.setAttributeNode(att);  
	console.log(mentor);
    $(document).ready(function(){
        $("#id_Mentors").select2();
    });
</script>
{% endblock projectUpdatePageBlock %}
{% endblock content %}
