{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Team</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/media/img/logo.png" rel="icon">
  <link href="/media/img/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor-ugac/aos/aos.css' %}" rel="stylesheet">
  <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
  <link href="{% static 'vendor-ugac/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor-ugac/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor-ugac/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor-ugac/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor-ugac/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/ugac.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/ugac.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/team.css' %}">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/oauth" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <p><b>PROJECT PORTAL</b></p>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
          <li><a class="nav-link scrollto" href="/#howtouse">How to Use?</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#features">Features</a></li>
          <!-- <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li> -->
          <li><a class="nav-link scrollto" href="/#faq">F.A.Q.</a></li>
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          {% comment %} <li><a class="nav-link scrollto" href="#contact">Contact</a></li> {% endcomment %}
          <li><a class="getstarted scrollto" href="/oauth">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Team</h2> -->
          <p>MEET THE TEAM</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/bhumanyu.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=" https://www.linkedin.com/in/bhumanyu-goyal-73a427174/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/bhu800"><i class="bi bi-github"></i></a>
                  <a href="mailto:goyalbhu862001@gmail.com"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Bhumanyu Goyal</h4>
                <span>Mentor</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/manisha.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/manisha-prasad-165788191"><i class="bi bi-linkedin"></i></a>
                  <a href="https://linktr.ee/Manisha_Prasad"><i class="bi bi-linktr.ee"></i></a>
                  <a href="mailto:manishaprasad36@gmail.com"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Manisha Prasad</h4>
                <span>Designer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/dishti.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/dishti-oberai/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/Dishti-Oberai"><i class="bi bi-github"></i></a>
                  <a href="mailto:b20286@students.iitmandi.ac.in"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dishti Oberai</h4>
                <span>Developer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/rajat.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/rajat-bansal-a25b17218/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/lazyXghost"><i class="bi bi-github"></i></a>
                  <a href="mailto:b20123@students.iitmandi.ac.in"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rajat Bansal</h4>
                <span>Developer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/lavish.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/lavish-sachdeva-501119225"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/lavish2210"><i class="bi bi-github"></i></a>
                  <a href="mailto:b20113@students.iitmandi.ac.in"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lavish Sachdeva</h4>
                <span>Developer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/sweety.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/sweety-agarwal-1137491b8"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/batman14-s"><i class="bi bi-github"></i></a>
                  <a href="mailto:b20234@students.iitmandi.ac.in"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sweety Agarwal</h4>
                <span>Developer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/media/team/avni.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/avni-mittal-5a0b3b198/"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/AvniMittal13"><i class="bi bi-github"></i></a>
                  <a href="mailto:b20088@students.iitmandi.ac.in"><i class="bi bi-google"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Avni Mittal</h4>
                <span>Developer</span>
                {% comment %} <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p> {% endcomment %}
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->









  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">


          <div class="col-lg-3 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/oauth">Get Started</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#howtouse">How to Use?</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#about">About</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#features">Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/#faq">F.A.Q.</a></li>
              {% comment %} <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li> {% endcomment %}
            </ul>
          </div>

          <!-- <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-5 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <b>Naveen Saisreenivas Thota</b>
              <br>
              Academic Affairs Secretary, 2022-2023
              <br>
              Email: <a href="mailto:academic_secretary@students.iitmandi.ac.in" target="_blank">academic_secretary@students.iitmandi.ac.in</a>
              <br>
              Phone number: <b>+91 6230326108</b>
            </p>
              <!-- A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p> -->

          </div>
          <div class="col-lg-4 col-md-12 footer-info  footer-links">
            <a href="#" class="logo d-flex align-items-center">
              <img src="/media/img/logo.png" alt="">
                <p><b>PROJECT PORTAL</b></p>
            </a>
            <p>THINK . COLLABORATE . INNOVATE</p>
            <br>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://github.com/naveensaigit/project_portal/issues/new">Bugs/Suggestions | Contribute</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Team, 2020-2024</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2022</span></strong> IIT MANDI
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor-ugac/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor-ugac/aos/aos.js' %}"></script>
  <script src="{% static 'vendor-ugac/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor-ugac/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor-ugac/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor-ugac/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor-ugac/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <!-- <script src="assets/js/ugac.js"></script> -->
  <script src="{% static 'home/ugac.js' %}"></script>

</body>

</html>
