<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Project_portal | Login</title>
	</head>
	<body>
		<div>
			{% if messages %} {% for message in messages %}
			<div>{{message}}</div>
			{% endfor %} {% endif %}
			<form method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Log In</legend>
					{{ form|crispy }}
				</fieldset>
				<div>
					<button type="submit">Login</button>
				</div>
			</form>
			<div>
				Don't have an account? | <a href="{% url 'register' %}">Sign Up</a>
			</div>
		</div>
	</body>
</html>
