<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Project_portal | Login</title>
	</head>
	<body>
		<div>
			{% if messages %} {% for message in messages %}
			<div>{{message}}</div>
			{% endfor %} {% endif %}
            <h2>You have been logged out</h2>
			<div>
				<a href="{% url 'login' %}">Log In Again</a>
			</div>
		</div>
	</body>
</html>
