{% extends 'users/profile.html' %}
{% block profile %}
<div>

	<div class="project_cards">

		<h2>Projects Floated:</h2>
		<br>
		{% for project in projects %}

		<!-- Collapsable Card Example -->
		<!-- <div class="col-lg-6"> -->
		<!-- Basic Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'project' project.id %}"> {{ project.Title }} </a></h6>
			</div>
			<div class="card-body">
				{{project.Description}}
				<br><br>
				<h6>
						<strong class="project_info" style="padding-right:40px;">
							Floated by: {{project.FloatedBy}}
						</strong>
					
					
						<strong class="project_info" style="padding-right:40px;">
							Status: {{project.Status}}
						</strong>
					
					
						<strong class="project_info" style="padding-right:40px;">
							Difficulty: {{project.Difficulty}}
						</strong>
					
						{% if project.PreRequisite %}
						<strong class="project_info" style="padding-right:40px;">
							PreRequisite: {{project.PreRequisite}}
						</strong>
						{% endif %}

				</h6>
			</div>
		</div>
		<!-- </div> -->

		{% endfor %}

	</div>

	{% if projects.count == 0 %}
	<div>No projects</div>
	{% endif %}
</div>
{% endblock profile %}