{% extends 'users/profile.html' %}
{% load crispy_forms_tags %}
{% block profile %}
<div>

	<div class="project_cards">

		<h2>Projects Applied For:</h2>
		<!-- Filter options -->
            <form method="get" class="form-inline justify-content-lg-center h5 mb-0 font-weight-bold text-gray-800 " style="width: 100%;">
              {{myFilter.form}}
              <button class="btn btn-primary" type="Submit">Filter</button>
            </form>
		<br>
		<div style="display: flex; flex-wrap: wrap;">
			{% for project in projects %}

			<!-- Collapsable Card Example -->
			<!-- <div class="col-lg-6"> -->
			<!-- Basic Card Example -->

			<div class="blog-container" style="flex: 1 0 45%; margin: 20px;">

				<div class="blog-header" style="display: flex; flex-wrap: wrap;">
					<div class="blog-author--no-cover"
						style="background:url('{{project.FloatedBy.profile.image.url}}');background-size: cover; border-radius: 50%; display: inline-block;height: 32px;margin-right: 0.5rem;position: relative;top: 8px;width: 32px; ">

					</div>
					<span style="flex: 1 0 45%; ">
						<a href="{% url 'profile' project.FloatedBy.id %}">
							<h3 style="margin-top: 10px;">{{project.FloatedBy}}</h3>
						</a>
					</span>
				</div>

				<div class="blog-body">
					<div class="blog-title">
						<h1><a href="/project/?project_id={{project.id}}">{{ project.Title }}</a></h1>
					</div>
					<div class="blog-summary demo-2">
						<p>{{project.Description}}</p>
					</div>
					<div class="blog-tags">
						<ul>
							<li><a >{{project.Status}}</a></li>
							<li><a >{{project.Difficulty}}</a></li>
							{% if project.PreRequisite %}
							<li><a>{{project.PreRequisite}}</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="blog-footer">
					<br>
					<ul>
						<li class="published-date"><a href="/project/?project_id={{project.id}}">Read More</a></li>
						<!-- <li class="shares"><a href="#"><svg class="icon-star">
									<use xlink:href="#icon-star"></use>
								</svg><span>3</span></a></li> -->
						<!-- <li class="shares icon-star">
									<label for="id-of-input star" class="custom-checkbox">
										<input type="checkbox" id="id-of-input" />
										<i class="glyphicon glyphicon-star-empty" style="font-size: 2rem;"></i>
										<i class="glyphicon glyphicon-star" style="font-size: 2rem;"></i>
	
									  </label>
								</li> -->
						<!-- <li>
							<div class="click">
								<span class="fa fa-star-o"></span>
								<div class="ring"></div>
								<div class="ring2"></div>
								<!- 	<p class="info">Added to favourites!</p> ->
							</div>
						</li> -->

						<li>
						
							{% if project.id not in user_starred_projects_id %}
							<a href="/project/task/?task=Star&project_id={{project.id}}"><button
								class="btn btn-primary btn-user btn-block" style="width:100%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
								  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
								</svg></button></a>
							{% else %}
							<a href="/project/task/?task=Unstar&project_id={{project.id}}"><button
								class="btn btn-primary btn-user btn-block" style="width:100%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
								  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
								</svg></button></a>
							{% endif %}
			  
					  
						</li>

					</ul>
					<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin: 15px; ">



					</div>
				</div>

			</div>


			{% endfor %}
		</div>

	</div>

	{% if projects.count == 0 %}
	<div>No projects</div>
	{% endif %}
<br><br><br><br><br><br><br><br><br>
</div>
{% endblock profile %}