{% extends 'home/main.html' %} 
{% load crispy_forms_tags %} 
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/footer.css' %}">
{% endblock stylesheets %}
{% block customStylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/cards.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/profileEdit.css' %}">
{% endblock customStylesheets %}


{% block cardBlock %}{% endblock cardBlock %}
{% block mainContentBlock %}
<style>
    .container-fluid{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
</style>

<div class="container" style="padding-left: 2rem !important; padding-right: 2rem !important;">
    <div class="main-body">
        <div class="row">

<!--            <div class="col-lg-7">-->
<!--                <div class="card">-->
                    <div class="card-body col-xs-12" style=" justify-content: center; background-color: #F6F4F4;  margin-bottom: 0rem !important;">
<!--                        <div class="row mb-3" style="background-color: #F6F4F4; width: 103%; margin-bottom: 0rem !important;">-->
                            <form method="POST" enctype="multipart/form-data" style="color: #19258C; font-family: Public Sans; font-style: normal;">
                                {% csrf_token %}
                                <fieldset>
                                    <legend><h2 style="color: #022160; text-align: center; font-family: Public Sans; font-style: normal;"><b>Profile Info</b></h2></legend>
									{{ user_form|crispy }}
									{{ profile_form|crispy }}
                                </fieldset>
                                <div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit" style="background: #022160; color: white; margin-left: 30%; margin-bottom: 5%; width: 40%; ">Update</button>
                                </div>
                            </form>
<!--                        </div>-->
                    </div>
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
</div>
<br><br><br><br>
</div>
{% endblock mainContentBlock %}
{% block customScripts %}
    <script src="{% static 'users/profileEdit.js' %}"></script>
{% endblock customScripts %}