{% extends 'home/main.html' %} {% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/cards.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/profile.css' %}">

<style media="screen">
  .vertical-line-profile {
    width: 6px;
    height: 75px;
    background-color: #19258c;
    margin-left: -5px;
    margin-right: 10px;
  }

  .vertical-line-profile-2 {
    width: 6px;
    height: 75px;
    background-color: #19258c;
    margin-left: -5px;
    margin-right: 10px;
  }

  .vertical-line-profile-3 {
    width: 6px;
    height: 75px;
    background-color: #19258c;
    /* margin-left: 100px; */
    margin-right: 18px;

  }



  .cards-hr {
    height: 0px;
    left: 87px;
    top: 280px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);

    .card-profile {
      width: 816px;
      height: 120px;
      padding-left: 538px;
      padding-top: 268px;

      border: 1px solid #E5E5E5;

      border-radius: 10px;
    }
</style>
{% endblock stylesheets %}

{% comment %}
{% if user.id != profile_user.id %}
<!-- {% block cardBlock %}{% endblock cardBlock %} -->
{% endif %}
{% endcomment %}

{% block content %}



{% block messageBlock %}
{% if messages %} {% for message in messages %}
<div style="margin-left: 20px; color: #022160; font-size: 30px; background-color: white;">{{message}}</div>
{% endfor %} {% endif %}
{% endblock messageBlock %}



<div class="row">
  <div class="col">

    <div class="card" style="width: 400px; height: 900px; margin-top: 83px;">
      <div class="card-body" style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); background: #F7F4F4; border-radius: 10px;">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="{{ profile_user.profile.image.url }}" alt="" style="margin-top: 24px; height:200px;height:200px; border-radius: 100%;">
        </div>
        <p style="color: #404040; margin-left: 26px; font-family: Public Sans; font-style: normal; font-weight: bold; font-size: 20px;">
          Profile</p>
        <div style="border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; border-radius: 10px; margin-left: 25px; margin-right: 25px; height: 125px; ">
          <p style="font-family: Public Sans;font-style: normal;font-weight: normal;font-size: 16px;line-height: 19px;color: #404040; margin-left: 10px; margin-top: 20px;">
            {{ profile_user.first_name }} {{ profile_user.last_name }}
            <br>{{ profile_user.profile.year }} Year - {{ profile_user.profile.branch }}<br>
            {{ profile_user.email }}
          </p>
          <div style="background: #19258C; margin-left:260px; margin-right: 10px; box-sizing: border-box; border-radius: 5px; color: white; width: 65px;">
            <a style="color: white; margin-left: 5px;" href="/profile/edit"> Edit <i class="fas fa-pen" style="margin-left: 2px;"></i> </a>
          </div>
        </div>
        <br>

        <p style="color: #404040; margin-left: 26px; font-family: Public Sans; font-style: normal; font-weight: bold; font-size: 20px;">
          Skills</p>
        <div style="border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; border-radius: 10px; margin-left: 25px; margin-right: 25px; height: 125px; ">
          <p style="font-family: Public Sans;font-style: normal;font-weight: normal;font-size: 16px;line-height: 19px;color: #404040; margin-left: 10px; margin-top: 20px;">
            {{ profile_user.profile.techskills }}
          </p>
          <div style="background: #19258C; margin-left:260px; margin-right: 10px; box-sizing: border-box; border-radius: 5px; color: white; width: 65px;">
            <a style="color: white; margin-left: 5px;" href="/profile/edit"> Edit <i class="fas fa-pen" style="margin-left: 2px;"></i> </a>
          </div>
        </div>
        <br>

        <p style="color: #404040; margin-left: 26px; font-family: Public Sans; font-style: normal; font-weight: bold; font-size: 20px;">
          Links</p>
        <div style="border: 1px solid rgba(0, 0, 0, 0.25); box-sizing: border-box; border-radius: 10px; margin-left: 25px; margin-right: 25px; height: 145px; ">
          <p style="font-family: Public Sans;font-style: normal;font-weight: normal;font-size: 16px;line-height: 19px;color: #404040; margin-left: 10px; margin-top: 20px;">
            <i class="fab fa-linkedin" style="margin-right: 5px;"></i>Linkedin : <br>
            <i class="fas fa-globe" style="margin-right: 5px;"></i>Website : <br>
            <i class="fab fa-github" style="margin-right: 5px;"></i>Github : <br>
            <i class="far fa-file" style="margin-right: 5px;"></i>Resume : <br>
          </p>
          <div style="background: #19258C; margin-left:260px; margin-right: 10px; box-sizing: border-box; border-radius: 5px; color: white; width: 65px;">
            <a style="color: white; margin-left: 5px;" href="/profile/edit"> Edit <i class="fas fa-pen" style="margin-left: 2px;"></i> </a>
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="col">

    <div class="projects" style="margin-top: 83px; overflow: hidden;">

      <div class="buttons">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-md-6 mb-4" style="
    margin-top: 5px;
">
            <div class="card shadow" style="width:210px; height:75px;">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="vertical-line-profile-2" style="    padding-left: 10px;"></div>
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold  text-uppercase mb-3">
                      <a style="font-size: 12px;" onclick="toggleVisibility('projects_applied');">PROJECTS APPLIED:</a>
                    </div>
                    <div class="h3  font-weight-bold text-gray-800">{{ num_projects_applied }}</div>
                  </div>
                  <!-- <div class="col-auto">
                              <i class="fas fa-comments fa-2x text-gray-300"></i>
                                          </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4" style="
    margin-top: 5px;
">
            <div class="card  shadow" style="width:210px; height:75px;">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="vertical-line-profile"></div>
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold  text-uppercase mb-3">
                      <a style="font-size: 12px;" onclick="toggleVisibility('projects_floated');">PROJECTS
                        FLOATED:</a>
                    </div>
                    <div class="h3  font-weight-bold text-gray-800">{{ num_projects_floated }}</div>
                  </div>
                  <!-- <div class="col-auto">
                              <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4" style="
    margin-top: 5px;
">
            <div class="card  shadow" style="width:210px; height:75px;">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="vertical-line-profile"></div>
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-3">
                      <a style="font-size: 12px;" onclick="toggleVisibility('projects_requested');">PROJECTS REQUESTED:</a>
                    </div>
                    <div class="h3  font-weight-bold text-gray-800">{{ num_projects_req }}
                    </div>
                  </div>
                  <!-- <div class="col-auto">
                                              <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4" style="
    margin-top: 5px;
">
            <div class="card  shadow" style="width:210px; height:75px; ">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="vertical-line-profile"></div>
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-3">
                      <a style="font-size: 12px;" onclick="toggleVisibility('projects_starred');">PROJECTS STARRED:</a>
                    </div>
                    <div class="h3  font-weight-bold text-gray-800">{{ user.profile.starred_projects.count }}
                    </div>
                  </div>

                  <!-- <div class="col-auto">
                                              <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div> -->
                  <div class="vertical-line-profile-3" style="margin-left:2px;"></div>
                </div>

              </div>
            </div>
          </div>


          <div id="projects_applied">
            {% for project in projects_applied %}
            <div class="card-box" style="
    padding-top: 0px;
    padding-bottom: 0px;
">
              <div class="blog-body">
                <div class="blog-title demo-a">
                  <h1><a href="/project/?project_id={{project.id}}">{{ project.Title}}</a>
                  </h1>
                </div>
                <div class="blog-summary demo-2">
                  <p>{{project.Description}}</p>
                </div>
              </div>
            </div>

            {% endfor %}
            {% if projects_applied.count == 0 %}
            <div>No projects</div>
            {% endif %}
          </div>
          <div id="projects_floated" style="display: none;">
            {% for project in projects_floated %}
            <div class="card-box" style="
    padding-top: 0px;
    padding-bottom: 0px;
">
              <div class="blog-body">
                <div class="blog-title demo-a">
                  <h1><a href="/project/?project_id={{project.id}}">{{ project.Title}}</a>
                  </h1>
                </div>
                <div class="blog-summary demo-2">
                  <p>{{project.Description}}</p>
                </div>
              </div>
            </div>

            {% endfor %}
            {% if projects_floated.count == 0 %}
            <div>No projects</div>
            {% endif %}
          </div>
          <div id="projects_requested" style="display: none;">
            {% for project in projects_requested %}
            <div class="card-box" style="
    padding-top: 0px;
    padding-bottom: 0px;
">
              <div class="blog-body">
                <div class="blog-title demo-a">
                  <h1><a href="/project/?project_id={{project.id}}">{{ project.Title}}</a>
                  </h1>
                </div>
                <div class="blog-summary demo-2">
                  <p>{{project.Description}}</p>
                </div>
              </div>
            </div>

            {% endfor %}
            {% if projects_floated.count == 0 %}
            <div>No projects</div>
            {% endif %}
          </div>
          <div id="projects_starred" style="display: none;">
            {% for project in projects_starred %}
            <div class="card-box" style="
    padding-top: 0px;
    padding-bottom: 0px;
">
              <div class="blog-body">
                <div class="blog-title demo-a">
                  <h1><a href="/project/?project_id={{project.id}}">{{ project.Title}}</a>
                  </h1>
                </div>
                <div class="blog-summary demo-2">
                  <p>{{project.Description}}</p>
                </div>

              </div>
            </div>
            {% endfor %}
            {% if projects_floated.count == 0 %}
            <div>No projects</div>
            {% endif %}

          </div>

        </div>
      </div>
      <br><br><br><br><br><br><br><br><br>
      <div>

      </div>

    </div>

  </div>







  <script>
    var divs = ["projects_applied", "projects_floated", "projects_requested", "projects_starred"];
    var visibleDivId = null;

    function toggleVisibility(divId) {
      if (visibleDivId === divId) {
        //visibleDivId = null;
      } else {
        visibleDivId = divId;
      }
      hideNonVisibleDivs();
    }

    function hideNonVisibleDivs() {
      var i, divId, div;
      for (i = 0; i < divs.length; i++) {
        divId = divs[i];
        div = document.getElementById(divId);
        if (visibleDivId === divId) {
          div.style.display = "block";
        } else {
          div.style.display = "none";
        }
      }
    }
  </script>

  <!-- <script src="{% static 'home/profile.js' %}"></script> -->
  {% endblock content %}
