{% extends 'users/profile.html' %}
{% block profile %}
<div>

	<div class="project_cards">
        <!-- Filter options -->
        <form method="get"
              class="form-inline justify-content-lg-center h5 mb-0 font-weight-bold text-gray-800 blog-container"
              style="width: 100%;">
            {{ myFilter.form }}
            <button class="btn btn-primary" type="Submit">Filter</button>
        </form>

		<h2>Projects Starred:</h2>
		<br>
		<div style="display: flex; flex-wrap: wrap;">
			{% for project in projects %}

			<!-- Collapsable Card Example -->
			<!-- <div class="col-lg-6"> -->
			<!-- Basic Card Example -->

			<div class="blog-container" style="flex: 1 0 45%; margin: 20px;">

				<div class="blog-header" style="display: flex; flex-wrap: wrap;">
					<div class="blog-author--no-cover"
						style="background:url('{{project.FloatedBy.profile.image.url}}');background-size: cover; border-radius: 50%; display: inline-block;height: 32px;margin-right: 0.5rem;position: relative;top: 8px;width: 32px; ">

					</div>
					<span style="flex: 1 0 45%; ">
						<h3 style="margin-top: 10px;">{{project.FloatedBy}}</h3>
					</span>
				</div>

				<div class="blog-body">
					<div class="blog-title">
						<h1><a href="{% url 'project' project.id %}">{{ project.Title }}</a></h1>
					</div>
					<div class="blog-summary demo-2">
						<p>{{project.Description}}</p>
					</div>
					<div class="blog-tags">
						<ul>
							<li><a href="#">{{project.Status}}</a></li>
							<li><a href="#">{{project.Difficulty}}</a></li>
							{% if project.PreRequisite %}
							<li><a href="#">{{project.PreRequisite}}</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="blog-footer">
					<br>
					<ul>
						<li class="published-date"><a href="{% url 'project' project.id %}">Read More</a></li>
						<!-- <li class="shares"><a href="#"><svg class="icon-star">
									<use xlink:href="#icon-star"></use>
								</svg><span>3</span></a></li> -->
						<!-- <li class="shares icon-star">
									<label for="id-of-input star" class="custom-checkbox">
										<input type="checkbox" id="id-of-input" />
										<i class="glyphicon glyphicon-star-empty" style="font-size: 2rem;"></i>
										<i class="glyphicon glyphicon-star" style="font-size: 2rem;"></i>
	
									  </label>
								</li> -->
						<!-- <li>
							<div class="click">
								<span class="fa fa-star-o"></span>
								<div class="ring"></div>
								<div class="ring2"></div>
								<!- 	<p class="info">Added to favourites!</p> ->
							</div>
						</li> -->

					</ul>
					<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin: 15px; ">



					</div>
				</div>

			</div>


			{% endfor %}
		</div>

	{% if projects.count == 0 %}
	<div>No projects</div>
	{% endif %}

</div>
{% endblock profile %}