.horizontal-center {
  margin: 0 auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.invisible {
  display: none;
}

.container-fluid {
  padding: 0;
}

.doodle{
  /* margin-left:4rem; */
  width: 57vw;
  max-width: 700px;
}

/* -------------------- */

#profile {
  width: 89%;
  /* display: flex; */
  min-height: 800px;
  margin-bottom: 60px;
  margin-top: 60px;
}


#leftColumn {
  /* width: 25%; */
  min-width: 250px;
  height:100%;
  position: relative;
  background: #F7F4F4;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.profileImage{
  width: 100%;
  height: 20%;
  max-width: 160px;
  /* margin-left: 22%; */
  margin-top: 2.5rem;
  border-radius: 100%;
}

#editButton {
  position: relative;
  left: 80%;
  top: 1.5rem;
  background-color: darkblue;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem; 
}

.leftColumnCard {
  width: 83%;
  min-height: 140px;
  overflow-x: hidden;
  margin-top: 20px;
}
.leftColumnCard:last-child{
  margin-bottom: 15px;
}

.cardTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 10px;
}

.cardDetails {
  padding: 1vw;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  overflow-wrap: break-word;
}

#rightColumn {
  height: 100%;
  margin-left: 2vw;
  /* width: 75%; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

#projectButtons {
  /* margin: 5px; */
  min-width: 70%;
  display: flex;
  border-right: 7px solid rgba(0, 0, 139);
  /* min-height: 60px; */
}

.vertical-line {
  width: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* padding: 0px 5px; */
  background-color: white !important;
}

.line {
  height: 100%;
  width: 0.5rem;
  background-color: darkblue;
}

#projectButtons>div {
  border-left: 7px solid rgba(0, 0, 139);

  /* padding-left: 0.75rem;
  padding-right: 0.75rem; */
  background: #F7F4F4;
  text-align: center;
}

.projectButton {
  /* width: 100%; */
  cursor: pointer;
}
.projectButtonTitle{
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

.projectsNumbers {
  font-size: 25px;
  margin-bottom: 15px;
}

.buttonSelected {
  background: #C9D8FF !important;
}

.project-card {
  max-height: 125px;
  overflow: hidden;
  margin: 1.5vw;
  padding: 1.5vw;
  padding-top: 0.5vw;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 10px;
}

.project-card-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.project-card-title > a{
  color: #404040;
}
.project-card-title{
  margin-bottom: 20px;
}

.project-card-description {
  height: 56px;
  margin-bottom: 15px;
  overflow: hidden;
}
/* @media only screen and (max-width: 600px){
  #leftColumn > div:nth-child(3){
    margin-bottom: 0px;
    min-height: 100px;
  }
  #leftColumn > div:nth-child(4){
    margin-bottom: 0px;
    min-height: 100px;
  }
  #leftColumn > img{
    height: 120px;
  }
  #leftColumn{
    margin-left: 5%;
    width: 90%;
    max-width: 300px;
    margin-bottom: 30px;
  }
  #profile{
    display: block;
  }
  #rightColumn{
    width: 96%;
    /* margin-left: 2%; */
  /* }
  #profile{
    margin-top: 40px;
  }
  .projectButtonTitle{
    font-size: 9px !important;
  }
  .project-card-title{
    font-size: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .project-card-description{
    height: 43px !important;
    font-size: 13px !important;
  }
} */ 