.horizontal-center {
  margin: 0 auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.invisible {
  display: none;
}

.container-fluid {
  padding: 0;
}

.doodle{
  width: 63vw;
  max-width: 700px;
}

/* -------------------- */

#profile {
  width: 89%;
  display: flex;
  min-height: 800px;
  margin-bottom: 60px;
  margin-top: 60px;
}


#leftColumn {
  width: 25%;
  position: relative;
  background: #F7F4F4;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.profileImage{
  width: 50%;
  max-width: 160px;
  margin-left: 22%;
  margin-top: 25px;
  border-radius: 500px;
}

#editButton {
  position: absolute;
  left: 83%;
  top: 15px;
  background-color: darkblue;
  height: 25px;
  width: 30px;
  border-radius: 5px;
}

.leftColumnCard {
  width: 83%;
  min-height: 150px;
  overflow-x: hidden;
  margin-top: 15px;
  margin-bottom: 15px;

}

.cardTitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #404040;
}

.cardDetails {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  overflow-wrap: break-word;
}

#rightColumn {
  margin-left: 2vw;
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

#projectButtons {
  display: flex;
}

.vertical-line {
  width: 20px;
  padding: 0px 6px;
  background-color: white !important;
}

.line {
  height: 100%;
  width: 8px;
  background-color: darkblue;
}

#projectButtons>div {
  min-height: 80px;
  background: #F7F4F4;
  text-align: center;
}

.projectButton {
  width: 100%;
  cursor: pointer;
}
.projectButtonTitle{
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

.projectsNumbers {
  font-size: 25px;
}

.buttonSelected {
  background: #C9D8FF !important;
}

.project-card {
  max-height: 125px;
  overflow: hidden;
  margin: 15px;
  padding: 15px 15px 20px 15px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 10px;
}

.project-card-title>a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #404040;
}
.project-card-title{
  margin-bottom: 20px;
}

.project-card-description {
  max-height: 45px;
  margin-bottom: 15px;
  overflow: hidden;
}