.blog-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #404040;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
    padding-top: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 110px;
    word-wrap: break-word;
    background-color: #EBEBEB;
    background-clip: border-box;
    /* border-left: 5px solid #EE7210; */
    border-radius: 0.35rem;
}

@media screen and (min-width: 480px) {
    .blog-container {
        width: 28rem;
    }
}

@media screen and (min-width: 767px) {
    .blog-container {
        width: 40rem;
    }
}

@media screen and (min-width: 959px) {
    .blog-container {
        width: 50rem;
    }
}

.blog-container a {
    color: #404040;
    text-decoration: none;
    transition: 0.25s ease;
    width: 429px;
    height: 33px;
    left: 31px;
    top: 77px;
}

.blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
    margin: 0 auto;
    padding-top: 0.125rem;
    width: 80%;
}

.blog-author h3::before,
.blog-author--no-cover h3::before {
    /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg"); */
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: 0.5rem;
    position: relative;
    top: 8px;
    width: 32px;
}

.blog-author h3 {
    color: #fff;
    font-weight: 20;
    font-size: 1.2rem;
}

.blog-author--no-cover h3 {
    color: #999999;
    font-weight: 100;
}

.blog-body {
    margin: 0 auto;
    width: 80%;
}

.blog-header {
    margin: 0 auto;
    width: 80%;
}

.video-body {
    height: 100%;
    width: 100%;
}

.blog-title h1 a {
    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #404040;
}

.blog-summary p {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #404040;
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li:nth-child(1) a {
  background: #BEFFE0;
}

.blog-tags li:nth-child(2) a {
  background: #C9D8FF;
}

.blog-tags li:nth-child(3) a {
  background: #FFD493;
}

.blog-tags li+li {
    margin-left: 0.5rem;
}

.blog-tags a {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 35px;
    top: 224px;
    border-radius: 15px;
    padding: 0 0.5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 82px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.blog-footer {
    /*border-top: 1px solid rgba(0, 0, 0, 0.25);*/
    /*width: 300px;*/
    /*top: 289px;*/
}

.blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li:first-child {
    margin-right: auto;
}

.blog-footer li+li {
    margin-left: 0.5rem;
}

.blog-footer li {
    color: #999999;
    font-size: 0.75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
}

.blog-footer li a {
    color: #999999;
}

.comments {
    margin-right: 1rem;
}

.published-date {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.5rem;
}

.numero {
    position: relative;
    top: -0.5rem;
}

.icon-star,
.icon-bubble {
    fill: #ffffff;
    height: 24px;
    /* margin-right: 0.5rem; */
    transition: 0.25s ease;
    width: 24px;
}

.icon-star:hover,
.icon-bubble:hover {
    fill: #ff4d4d;
}

.demo-2 {
    /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350ch; */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}