.pagination{
display: flex;
justify-content: center;
}
.pagination > li{
    border: 2px solid #19258C;
    border-radius: 0.5rem;
    margin: 1px;
    font-size: 1.1rem;
    padding-top: 6.5px;
    color: #19258C;
}
.pagination > .selected{
    background-color: #C9D8FF;
    padding: 7px 15px;
}
.pagination > li > a{
    color: #19258C;
    text-decoration: none;
    padding: 7px 15px;
}

.pagination > .selected:hover{
    background-color: #C9D8FF;
}
.pagination > li:hover{
    background-color:#C9D8FF;
}