.card1 {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    overflow: hidden;
    width: 90%;
}
.avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: -5px;
    z-index: 1;
}


img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    /*object-fit: cover;*/
    object-position: center;
    max-height: max(20rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.card a {
    color: inherit;
}

.card-wrapper1 {
    margin-left:auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 70vw;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
